<!doctype html>
<html>
    <head>
        <title>Kreslení canvas</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/malovani.js"></script>
    </head>
    <body>
        <div id="kresleni">
            <canvas>
            </canvas>
            <button onclick="changesize(-1)">velikost -</button>
            <button onclick="changesize(1)">velikost +</button><br>
            <button onclick="changecolor(-1)">barva -</button>
            <button onclick="changecolor(1)">barva +</button>
        </div>
    </body>
</html>
